@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    .body {
      font-family: "Balsamiq Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: 0;
      /* ===== Changed font colour to white for better visibility ===== */
      color: #ffffff;
      line-height: 1.6;
      text-align: center;
      /* ===== Also outline on font for better legibility ===== */
      text-shadow: 2px 2px 2px #000000;
     }